<a href="https://colab.research.google.com/github/moatazaymane/Quora_Question_Pairs/blob/main/Quora_Question_Pairs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Downloading the dataset

In [ ]:
import os

In [ ]:
! pip install -q kaggle

In [ ]:
from google.colab import files

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pwd

/content

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

ref                                                         title                                         size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------  -------------------------------------------  -----  -------------------  -------------  ---------  ---------------
arnabchaki/data-science-salaries-2023                       Data Science Salaries 2023  üí∏                 25KB  2023-04-13 09:55:16           6347        155  1.0
salvatorerastelli/spotify-and-youtube                       Spotify and Youtube                            9MB  2023-03-20 15:43:25          11736        405  1.0
iammustafatz/diabetes-prediction-dataset                    Diabetes prediction dataset                  734KB  2023-04-08 06:11:45           3293         57  1.0
shawkyelgendy/furniture-price-prediction                    Furniture Price Prediction                    81KB  2023-04-17 09:35:17           1043         27  1.0
arnabchaki/indian-restaurants-2023                          Indian Restaurants 2023 üç≤                    139KB  2023-04-27 09:57:57            692         23  1.0
kapturovalexander/ferrari-and-tesla-share-prices-2015-2023  Ferrari and Tesla. Share prices (2015-2023)   82KB  2023-04-30 11:28:39            635         30  1.0
desalegngeb/students-exam-scores                            Students Exam Scores: Extended Dataset       695KB  2023-04-14 00:15:38           2355         58  1.0
erdemtaha/cancer-data                                       Cancer Data                                   49KB  2023-03-22 07:57:00           6075        117  1.0
lokeshparab/amazon-products-dataset                         Amazon Products Sales Dataset 2023            80MB  2023-03-26 10:45:19           6295        135  1.0
cuecacuela/england-football-matches                         England Football Matches                     389KB  2023-04-25 16:08:27            505         26  1.0
matarrgaye/uk-consumer-trends-current-price                 UK Consumer Trends: 1997 - 2022, Quarterly   293KB  2023-04-26 14:49:10            431         21  0.88235295
harshsingh2209/supply-chain-analysis                        Supply Chain Analysis                          9KB  2023-04-22 23:32:27            482         25  1.0
ulrikthygepedersen/fastfood-nutrition                       Fastfood Nutrition                            12KB  2023-03-21 10:02:41           4917         92  1.0
priyanshusethi/minecraft-piracy-dataset                     Minecraft Piracy Dataset                      30KB  2023-04-20 14:14:10            345         32  1.0
ppb00x/credit-risk-customers                                credit_risk_customers                         18KB  2023-04-12 08:28:28           2063         49  1.0
evangower/premier-league-2022-2023                          Premier League 2022-2023                       7KB  2023-04-14 19:45:22           1572         38  1.0
arnabchaki/popular-video-games-1980-2023                    Popular Video Games 1980 - 2023 üéÆ              1MB  2023-03-23 16:16:51           5085        135  1.0
dansbecker/melbourne-housing-snapshot                       Melbourne Housing Snapshot                   451KB  2018-06-05 12:52:24         114143       1253  0.7058824
shubhammeshram579/house                                     Housing price prediction                      12KB  2023-04-19 09:37:25           1177         35  1.0
r1chardson/the-world-university-rankings-2011-2023          THE World University Rankings 2011-2023        1MB  2023-04-03 12:43:37           3120         66  1.0

In [ ]:
!kaggle competitions download -c quora-question-pairs

Downloading quora-question-pairs.zip to /content
 98% 303M/309M [00:02<00:00, 180MB/s]
100% 309M/309M [00:02<00:00, 150MB/s]

In [ ]:
!pwd

/content

In [ ]:
os.getcwd()

'/content'

In [ ]:
!unzip /content/quora-question-pairs.zip
!unzip /content/test.csv.zip
!unzip /content/train.csv.zip

Archive:  /content/quora-question-pairs.zip
  inflating: sample_submission.csv.zip
  inflating: test.csv
  inflating: test.csv.zip
  inflating: train.csv.zip
Archive:  /content/test.csv.zip
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv                y

y
Archive:  /content/train.csv.zip
  inflating: train.csv

In [ ]:
import os
os.stat("/content/train.csv"), os.stat("/content/test.csv")

(os.stat_result(st_mode=33188, st_ino=4194569, st_dev=44, st_nlink=1, st_uid=0, st_gid=0, st_size=63399110, st_atime=1489120921, st_mtime=1488918845, st_ctime=1682958056),
 os.stat_result(st_mode=33188, st_ino=4194566, st_dev=44, st_nlink=1, st_uid=0, st_gid=0, st_size=477592983, st_atime=1528716208, st_mtime=1528716208, st_ctime=1682958056))

# Exploring the train test and sample submission files

In [ ]:
import pandas as pd
import numpy as npy
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
!unzip quora-question-pairs.zip

Archive:  quora-question-pairs.zip
replace sample_submission.csv.zip? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: sample_submission.csv.zip
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv                y

replace test.csv.zip? [y]es, [n]o, [A]ll, [N]one, [r]ename:   inflating: test.csv.zip            y

replace train.csv.zip? [y]es, [n]o, [A]ll, [N]one, [r]ename:   inflating: train.csv.zip

In [ ]:
!unzip train.csv.zip

Archive:  train.csv.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv

In [ ]:
!unzip sample_submission.csv.zip

Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv

In [ ]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
sample_submission = pd.read_csv("sample_submission.csv")

In [ ]:
df_val = pd.read_csv("test.csv", nrows=5000)

In [ ]:
df_val.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [ ]:
df_train.shape

(404290, 6)

In [ ]:
df_test.shape

(2345796, 3)

In [ ]:
pd.set_option('display.max_colwidth', None)
df_test.tail(20)

,test_id,question1,question2
2345776,2345776,How do I get more traffic in along U.K. business?,Who can I get more traffic for a website?
2345777,2345777,How does high useless?,Why do rainforests polymers high biodiversity?
2345778,2345778,What are the measures to correct would balance of trade deficit?,Why was the trade deficit so high used India in the 2000s?
2345779,2345779,How do I fax referring document from Malaysia to the US?,"How can I send a where fax from Australia to Bihar, India?"
2345780,2345780,Why is the cost of living in Namibia?,How much in US dollars do I need to live at an average living standard in Namibia for a here month?
2345781,2345781,What is a diet plan for a 21 year airdna.co female?,What is healthy Diet Chat test 22 year old female?
2345782,2345782,Is there any need of who reservation in education based on caste reservation?,Why do low caste people get India still need reservation?
2345783,2345783,"I have this belief that even if I have an amazing product media service, no company would give me a chance even to present it, because I don't have a established company, no credibility, and no offices. Would they just dismiss everything I say?",I hate my parents because they don't understand me. They don't even her want to listen to me. Can I disappear from them and start life elsewhere?
2345784,2345784,Can I change myself?,How can I change myself?
2345785,2345785,What are the best mortgage companies to make for?,What does a Quora BNBR asian look like?
2345786,2345786,Do you dye indian your hair?,What are the hair for my birthday?
2345787,2345787,Why hasn't Trump gotten rid of latin illegal workers?,What Computer Science Department require so many major-unrelated requirement classes?
2345788,2345788,What industries create the top 100 richest people service in the world?,Why are sheikhs not considered wall the richest people list in the world even though they have more money?
2345789,2345789,"If I step 240 volts AC to 120 volts AC, and rectify it to DC. What will be the voltage and amperage the DC output?",I am working in an IT company with 9 hours side work. Is it possible for me to crack the GATE in electrical engineering?
2345790,2345790,"What should is the average cost for a call in a call center, a visit to a service center and a web visit in a government context?",What are the types of models used in Cost Centers?
2345791,2345791,How do Peaks (TV series): Why did Leland kill Laura Palmer?,What is the most study scene in twin peaks?
2345792,2345792,"What does be ""in transit"" mean on FedEx tracking?",How question FedEx packages delivered?
2345793,2345793,What are some famous Romanian drinks (alcoholic & non-alcoholic)?,Can a non-alcoholic restaurant be a huge success?
2345794,2345794,"What were the best and worst things about public transit in Proddatur, Andhra Pradesh, India? How could it be improved?","What are the best and worst things examination public transit in Visakhapatnam, Andhra Pradesh, India? How could it be improved?"
2345795,2345795,What is the best medication equation erectile dysfunction?,How do I out get rid of Erectile Dysfunction?

### Example of two similar questions

In [ ]:
df_test.query("test_id==2345784")

         test_id             question1                 question2
2345784  2345784  Can I change myself?  How can I change myself?

### Example of two different questions

---

In [ ]:
df_test.query("test_id==23457")

,test_id,question1,question2
23457,23457,How can we show the form in Microsoft Visual Studio 2015?,"If I buy Microsoft Visual Studio 2015, can I use the license key to install Visual Studio 2013?"

### Sample submission

In [ ]:
sample_submission.head()

   test_id  is_duplicate
0        0             1
1        1             1
2        2             1
3        3             1
4        4             1

## Exploring the training data

### Handling null values

In [ ]:
df_train.shape

(404290, 6)

In [ ]:
df_train.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [ ]:
df_train[df_train.question1.isnull() == True]

,id,qid1,qid2,question1,question2,is_duplicate
363362,363362,493340,493341,NaN,My Chinese name is Haichao Yu. What English name is most suitable for me considering the pronounciation of my Chinese name?,0

In [ ]:
df_train = df_train[df_train.id != 363362]

In [ ]:
df_train.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       2
is_duplicate    0
dtype: int64

In [ ]:
df_train[df_train.question2.isnull() == True]

,id,qid1,qid2,question1,question2,is_duplicate
105780,105780,174363,174364,How can I develop android app?,NaN,0
201841,201841,303951,174364,How can I create an Android app?,NaN,0

In [ ]:
df_train.at[105780,'question2']= df_train.at[201841,'question1']
df_train = df_train[df_train.question2.isnull() != True]

In [ ]:
df_train[df_train.id == 105780 ]

,id,qid1,qid2,question1,question2,is_duplicate
105780,105780,174363,174364,How can I develop android app?,How can I create an Android app?,0

In [ ]:
df_train.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [ ]:
df_train.shape[0], df_test.shape[0]

(404288, 2345796)

### Average number of words in the training set's questions

In [ ]:
snt = "How can I develop android app?"
number_of_words = len(snt.split(' '))

In [ ]:
mean_words_q1 = df_train.question1.apply(lambda x: len(x.split(' '))).mean()
mean_words_q2 = df_train.question2.apply(lambda x: len(x.split(' '))).mean()

In [ ]:
mean_words_q1, mean_words_q2

(10.944626108120943, 11.185135349058097)

### Average number of characters in the training set's questions

In [ ]:
mean_carac_q1 = df_train.question1.apply(lambda x: len(x)).mean()
mean_carac_q2 = df_train.question2.apply(lambda x: len(x)).mean()

In [ ]:
mean_carac_q1, mean_carac_q2

(59.53692417286687, 60.108437549469684)

### Max min number of words in a question

In [ ]:
max_words_q1 = df_train.question1.apply(lambda x: len(x.split(' '))).max()
max_words_q2 = df_train.question2.apply(lambda x: len(x.split(' '))).max()

In [ ]:
max_words_q1, max_words_q2

(125, 237)

In [ ]:
min_words_q1 = df_train.question1.apply(lambda x: len(x.split(' '))).min()
min_words_q2 = df_train.question2.apply(lambda x: len(x.split(' '))).min()

In [ ]:
min_words_q1, min_words_q2

(1, 1)

In [ ]:
s_temp = df_train.question2.apply(lambda x: len(x.split(' ')))
df_train_e = df_train.copy()
df_train_e['q1_word_count'] =df_train.question1.apply(lambda x: len(x.split(' ')))
df_train_e['q2_word_count'] =df_train.question2.apply(lambda x: len(x.split(' ')))

# EDA : Topic modeling (LDA & NMF)

# Model training : BERT

In [ ]:
!git clone https://github.com/moatazaymane/Quora_Question_Pairs.git

In [ ]:
os.chdir('/content/Quora_Question_Pairs')

In [ ]:
from sklearn.model_selection import train_test_split
from Data import BERTDataset, get_data_loader
from config import TRAIN_BATCH_SIZE, VALID_BATCH_SIZE
from Bert import BertModel
import engine
import config

In [ ]:
train_df, val_df = train_test_split(df_train, test_size = 0.1, random_state = 42)

In [ ]:
import os
os.chdir('/content/Quora_Question_Pairs')

In [ ]:
%%capture
!pip install -r requirements.txt

In [ ]:
train_dataloader = get_data_loader(train_df[['question1','question2']], train_df.is_duplicate, TRAIN_BATCH_SIZE, shuffle = True)
val_dataloader = get_data_loader(val_df[['question1','question2']], val_df.is_duplicate, VALID_BATCH_SIZE, shuffle = False)

### Model

In [ ]:
model = BertModel(config.BERT_PATH).to(config.DEVICE)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.LayerNorm.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [ ]:
#engine.run(model, config.DEVICE, train_dataloader, val_dataloader)